.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #262626;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 16px;
}

.checkboxWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;


}

.done {
    border:none
}

.done h3 {
    text-decoration: line-through;
    color: #808080;
}