.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.container span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 8px;
    background-color: #333;
    border-radius: 50%;
    color: white;
}
.container div {
    color: #4ea8de;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.done {
    color:  #8284FA;

}